<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ydsy.manager.mapper.TbActivitygroupMapper">
  <resultMap id="BaseResultMap" type="cn.ydsy.manager.model.dbo.TbActivitygroup">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="Title" jdbcType="VARCHAR" property="title" />
    <result column="SubTitle" jdbcType="VARCHAR" property="subtitle" />
    <result column="Sort" jdbcType="DOUBLE" property="sort" />
    <result column="isdelete" jdbcType="BIT" property="isdelete" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
  </resultMap>

  <resultMap id="AllGroupWithSubItems_Map" type="cn.ydsy.manager.model.dto.ActivityGroupDTO">
     <collection property="activitys" ofType="cn.ydsy.manager.model.dto.ActivityDTO" column="id" select="ActivitysByGroupId_Map">
     </collection>
  </resultMap>

  <select id="ActivitysByGroupId_Map" resultType="cn.ydsy.manager.model.dto.ActivityDTO">
    select * from tb_activity where groupid=#{id}
  </select>

  <select id="getAllGroup" resultMap="AllGroupWithSubItems_Map">
    select *
    from tb_activitygroup
  </select>
</mapper>