<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ydsy.manager.mapper.TbUserKidMapper">
  <resultMap id="BaseResultMap" type="cn.ydsy.manager.model.dbo.TbUserKid">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="userid" jdbcType="BIGINT" property="userid" />
    <result column="kidid" jdbcType="BIGINT" property="kidid" />
    <result column="isdelete" jdbcType="BIT" property="isdelete" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
  </resultMap>
</mapper>